.App {
  text-align: left;
  padding-left: 20px;
  padding-top: 50px;
  background: url("../assets/busytatl.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainLogo {
  padding-left: 90px;
}

.mainLogoH {
  color: yellow;
  font-family: "Monoton", cursive;
  font-size: 6.3em;
  padding-bottom: 10px;
  text-shadow: -10px 10px 0px #000000, -20px 20px 0px #000000,
    -20px 20px 0px #000000;
}

.mainLogoHHH {
  font-family: "Roboto", cursive;
  font-size: 1.5em;
  padding-left: 127px;
  margin-top: 10px;
}

h3 {
  margin-top: -7%;
}

.luv {
  height: 350px;
  width: auto;
  margin-top: -236px;
  padding-left: 207px;
  margin-bottom: -60px;
  padding-bottom: 21px;
  padding-top: 21px;
}

.form-sign {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 5%;
}
