.signcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 600px;
    height: 450px;
    border: 2px solid black;
    -webkit-box-shadow: -10px 9px 5px -2px rgba(0,0,0,0.71);
    -moz-box-shadow: -10px 9px 5px -2px rgba(0,0,0,0.71);
    box-shadow: -10px 9px 5px -2px rgba(0,0,0,0.71);
}

img {
    width: 80%;
    height: auto;
}

.luvsign {
    height: 50%;
    width: auto;
    margin-top: -22%;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.luvsign2 {
    height: 50%;
    width: auto;
    margin-bottom: 12%;
}

.top {
    margin-top: -27%;
    padding-bottom: 4%;
}

.bottom {
    margin-bottom: 7%;
    padding-bottom: 6%; 
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: FlipH;
    -ms-filter: "FlipH";
}