.signcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  width: 700px;
  height: 550px;
  border: 2px solid black;
  -webkit-box-shadow: -10px 9px 5px -2px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: -10px 9px 5px -2px rgba(0, 0, 0, 0.71);
  box-shadow: -10px 9px 5px -2px rgba(0, 0, 0, 0.71);
}

.onePoint {
  width: 80%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}

.luvsign {
  height: 50%;
  width: auto;
  margin-top: -22%;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.luvsign2 {
  height: 50%;
  width: auto;
  margin-bottom: 10%;
}

.top {
  margin-top: -27%;
  padding-bottom: 4%;
  font-size: 4.2em;
}

.bottom {
  margin-bottom: 7%;
  padding-bottom: 8%;
  font-size: 4.2em;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.signcard1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  width: 700px;
  height: 550px;
  border: 2px solid black;
  -webkit-box-shadow: -10px 9px 5px -2px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: -10px 9px 5px -2px rgba(0, 0, 0, 0.71);
  box-shadow: -10px 9px 5px -2px rgba(0, 0, 0, 0.71);
}

.img1 {
  width: 100%;
  height: auto;
  padding-bottom: 0%;
  padding-left: 5%;
  margin-top: -22%;
  margin-bottom: -22%;
}

.luvsign1 {
  height: 50%;
  width: auto;
  margin-top: -22%;
  margin-bottom: -30%;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.luvsign3 {
  height: 50%;
  width: auto;
  margin-bottom: 12%;
  margin-top: -30%;
}

.top1 {
  margin-top: -28%;
  padding-bottom: 0%;
  font-size: 4.2em;
}

.bottom1 {
  margin-bottom: 7%;
  padding-bottom: 16%;
  font-size: 4.2em;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}
